{% extends 'base.html' %}

{% block title %}images{% endblock title %}
{% block body%}

<h1>Our best Image Collection of location </h1>
<div class="row">
    <div class="col-md-4">
      <div class="card mb-3 shadow-sm">
        <img src="/static/img/111.jpg" height="300">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></svg>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
      </div>
    </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="/static/img/112.jpg" height="300">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="/static/img/113.png" height="300">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="/static/img/114.jpg" height="300">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="/static/img/116.jpg" height="300">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="/static/img/117.jpg" height="300">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="/static/img/118.jpg" height="300">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="10" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></svg>

        </div>
      </div>
</div>
{% endblock body %}
      
